body {
  font-size: 2s5px;
}

nav {
  text-align: center;
  background-color: black;
  color: white;
}

nav a,
nav a:visited {
  color: white;
  margin: 2%;
  font-size: 20px;
}

h1 {
  text-align: center;
}
h2 {
  text-align: center;
}
h3 {
  text-align: center;
}

a:visited {
  color: blue;
}

#details-paragraph {
  width: 50%;
  text-align: left;
}
.details-profile {
  display: flex;
  margin: 2%;
}

.details-portrait {
  border: 1px solid green;
  margin: 5px;
}
