body {
  font-size: 25px;
  /* font-family: "Lato", sans-serif; */
  /* font-family: "Fira Sans", sans-serif; */
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  line-height: 1.4;
}
html {
  scroll-behavior: smooth;
}

.App {
  margin-left: 25px;
  margin-right: 25px;
}

.nav-list {
  position: fixed;
  display: inline-block;
  text-align: center;
  background-color: black;
  color: white;
  margin: 0 auto;
  top: 0;
  width: 100%;
  list-style: none;
  padding-left: 20%;
}

.nav-list a,
.nav-list a:visited {
  display: flex;
  float: left;
  align-items: center;
  text-align: center;
  color: white;
  margin: 2%;
  top: 50%;
  left: 50%;
  font-size: 20px;
  text-decoration: none;
  font-weight: 900;
}

header {
  margin-top: 5%;
  background-size: 31%;
  padding-top: 100px;
  padding-bottom: 30px;
}

.countdown-container {
  width: 50%;
  display: inline-block;
  margin-left: 25%;
  margin-bottom: 60px;
  border-radius: 4px;
  background: #448b66;
  padding-left: 10px;
  padding-bottom: 10px;
  color: white;
  text-align: center;
}

.centered-logo {
  width: 25%;
  margin-left: 36%;
}

#the-mcdrew {
  background-size: 14%;
}

h1 {
  text-align: center;
  margin-top: 0;
}
h2 {
  text-align: center;
}
h3 {
  text-align: center;
}

h4 {
  text-align: center;
  color: #b64b26;
}

a:visited {
  color: white;
}

.header-photo {
  background-image: url("./assets/checker-background.png");
  width: 100%;
  background-size: 31%;
}

.paragraph {
  margin-left: 39px;
  font-size: 27px;
  margin-top: 0;
  margin-bottom: 0;
}

.details-paragraph a,
a:visited,
.socials a,
.socials a:visited,
.email a,
.email a:visited,
#cornhole-link,
#dangeroux-link,
#yachtclub-link {
  color: #076381;
  text-decoration: none;
}

.details-paragraph a:hover,
.socials a:hover,
#cornhole-link:hover,
#yachtclub-link:hover,
#dangeroux-link:hover {
  color: #b64b26;
  text-decoration: underline;
}

.email a:hover {
  color: #b64b26;
  text-decoration: underline;
}

.green-checkerboard {
  width: 16%;
  height: auto;
  margin-right: 20px;
}

.mcdrew-description-wrapper {
  width: 90%;
  margin-left: 10px;
}
.mcdrew-description-wrapper {
  margin-left: 2%;
}
.how-it-started {
  display: flex;
  margin-bottom: 60px;
  background-color: #f7f7f7;
  margin-top: -3%;
  padding: 24px 0px;
  padding-right: 39px;
  margin-bottom: 56px;
  border-radius: 8px;
}

.started-paragraph {
  margin-left: 39px;
  font-size: 27px;
  margin-top: 10px;
  margin-bottom: 0;
  padding-left: 10px;
  padding-top: 5%;
}

.started-mcdrew {
  width: 32%;
  height: auto;
  border-radius: 8px !important;
  margin-left: 10px;
}

.description-paragraph {
  width: 90%;
  text-align: center;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-evenly;
  padding-right: 10px;
}
.details-profile {
  display: flex;
  margin: 2%;
}

.details-portrait {
  margin: 5px;
}

.details-paragraph {
  margin: 0;
  padding-left: 8px;
  border-left: 5px solid #448b66;
}

#the-events {
  display: flexbox;
  justify-content: center;
  align-items: center;
  width: 95%;
  margin: 10px;
}
.event-details {
  margin: 5px;
  /* display: flex; */
}

.bags-info,
.tennis-info {
  border: 2px solid #076381;
  padding: 15px;
  margin-top: 10px;
}

#swim-info,
.tennis-ball-info {
  border: 2px solid #448b66;
  padding: 15px;
  margin-top: 10px;
}

.register-button {
  font-size: 25px;
  padding: 10px 20px;
  border-radius: 16px;
  margin-left: 15px;
  color: white;
  background: #076381;
  text-decoration: none;
}

.register-button:hover {
  background-color: #b64b26;
}

.more-cornhole {
  display: block;
}

.no-cornhole {
  display: none;
}

#johnAndKevin {
  width: 33%;
  height: 33%;
}

#dangeroux {
  text-align: left;
}

.archives {
  display: block;
}

.no-archives {
  display: none;
}

.archives-button {
  margin-bottom: 50px;
  font-size: 25px;
  padding: 10px 20px;
  border-radius: 16px;
  color: white;
  background: #076381;
  text-decoration: none;
  margin: 0 auto;
  margin-top: 50px;
  margin-left: 50%;
}

.gallery-wrapper {
  margin-left: 10%;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

#email-link,
#email-link:visited {
  color: #076381;
  text-decoration: none;
}

#email-link:hover {
  color: #b64b26;
  text-decoration: underline;
}

.email,
.socials,
.other-links,
.contact-sponsor {
  margin: 20px;
}

.sponsors-wrapper {
  display: flex;
  margin-left: 15px;
  flex-wrap: wrap;
  align-items: center;
  max-width: 1224px;
}

.sponsor {
  border: 5px solid #448b66;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-left: 0;
}

.donations-list li {
  list-style: none;
}

.donations-wrapper {
  background-color: #f7f7f7;
  margin-top: 16px;
  padding: 24px 0px;
  border-radius: 8px;
  margin-left: 15px;
}
.donations-wrapper p {
  margin-left: 15px;
  margin-top: 2px;
  padding-right: 15px;
}

@media screen and (max-width: 882px) {
  .started-mcdrew {
    width: 80%;
    margin-left: 15%;
    height: auto;
    border-radius: 8px !important;
    flex-flow: column;
  }
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}
